@font-face {
  font-family: MyriadPro;
  font-style: normal;
  font-weight: bold;
  src: url('/assets/fonts/MyriadPro-Bold.otf');
}
@font-face {
  font-family: MyriadPro;
  font-style: normal;
  font-weight: normal;
  src: url('/assets/fonts/MyriadPro-Light.otf');
}

/* Custom style */
body {font-family: 'MyriadPro';}
body .reveal.overview .slides section {background: transparent !important;}
body #helper {position: fixed; top: 20px; right: 20px; z-index: 40; opacity: 0.6; width: 151px; height: 151px; opacity: 0.5;}
body #helpScreen {position: absolute; top: 0; right: 0; bottom: 0; left: 0; width: 100%; height: 100%;}
body #helpScreen img {width: 100%;}

body canvas {position: absolute; top: -25px; left: -25px;}
body *[data-toggle=pointer].active {opacity: 1 !important;}

body .slide-content {position: fixed; width: 100%; height: 100%; top: 0; right: 0; bottom: 0; left: 0; color: white; z-index: 49;}
body .slide-content .price {width: 200px; height: 200px; display: block; background-color: rgba(0,0,0,0.5); position: absolute; opacity: 0.5; cursor: default;
  border-radius: 200px; -moz-border-radius: 200px; -webkit-border-radius: 200px; border: 4px solid rgb(222,199,118);}
body .slide-content .price.left {left: 7%; top: 121px;}
body .slide-content .price.middle {left: 38%; top: -155px;}
body .slide-content .price.right {right: 10%; top: 130px;}
body .slide-content .price .price-content {position: absolute; width: 100%; height: 100%; top: 0; right: 0; bottom: 0; left: 0; margin: 0;}
body .slide-content .price .price-content .name {font-size: 23px; text-transform: uppercase; margin: 65px 0 0;}
body .slide-content .price .price-content .amount {font-size: 40px; font-weight: bold; margin: 0;}
body .slide-content .price .price-content .more {font-size: 25px; width: 30px; background-color: black; height: 30px; border-radius: 30px; margin: 0 auto;}
body .slide-content .price img {position: absolute;}

body .reveal .slides > section.present,
body .reveal .slides > section > section.present[data-background] {z-index: 50;}

body .slide-content.slide2 .price.left {left: 10%;}
body .slide-content.slide2 .price.middle {left: 44%; top: 50px;}
body .slide-content.slide2 .price.right {right: 15%; top: 50px;}
body .slide-content.slide3 .price.left {left: 13%;}